.sidebar {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: rgb(72, 191, 83);
  width: max-content;
}

.sidebar-link {
  text-decoration: none;
  padding: 20px 40px;
  color: #fff;
  transition: all 0.4s ease;
}

.sidebar-link:hover {
  color: #fff;
  background-color: rgb(17, 130, 59);
}

.sidebar-link.active {
  background-color: rgb(17, 130, 59);
}
