:root {
  --primary-color: rgb(17, 130, 59);
  --bg-color: rgba(17, 130, 59, 0.2);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', 'sans-serif';
}

.layout {
  display: flex;
}
